body{
  margin: 0;
  padding: 0;
  background: #313131;
  font-family: 'Kdam Thmor', cursive;

}

.container{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
form input,button{
  display: block;
  margin: 5px auto;
}
form{
  width: 300px;
  height: 400px;
background: #222a2e;
  border-radius: 20px;
  box-shadow: 5px 5px 10px green,-5px -5px 10px green;
  text-align: center;
    animation: sok 10s linear infinite;
}
input{
  background: none;
  outline: none;
  border: none;
  width: 100px;
  height: 30px;
  font-size: 30px;
  background: transparent;
  border-radius: 10px;
  box-shadow: 0 0 10px green,0 0 20px green;
  color: white;
}
h3,h6{
  color: white;
  margin: 0px auto;
}
button{
   outline: none;
   background: none;
   border: none;
   width: 100px;
   background: #1f261e;
   font-size: 20px;
   color: white;
   border-radius: 10px;
   cursor: pointer;
     font-family: 'Kdam Thmor', cursive;
}
@keyframes sok {
   0%{
     filter: hue-rotate(0deg);
   }
   100%{
     filter: hue-rotate(360deg);
   }
}
button:hover{
  background: red;
}
@media only screen and (max-width: 600px) {
  body {
    background-color: #1a343b;

  }
  form{
    width: 220px;

  }

}
